body {
  background-color: white;
  color: black;
  font-size: 16px;
}
.navbar-icons {
  display: flex;
}
.navbar-collapse {
  justify-content: space-between;
}
.title {
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Yellowtail", cursive;
  text-shadow: 5px;
  color: rgb(131, 125, 125);
}
.nav-link.active {
  background-color: rgba(245, 245, 245, 0.253) !important;
  border: 2px solid #00ffff !important;
  border-radius: 2%;
  font-weight: bold;
  color: rgb(131, 125, 125) !important;
  font-size: 1.5em;
}
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.295) !important;
  border: 2px solid #00ffff !important;
  border-radius: 2%;
  font-weight: bold;
  font-size: 1.6em;
  color: rgb(131, 125, 125) !important;
}
.nav-link {
  font-size: 1.5em;
  font-family: "Teko", sans-serif;
  color: rgb(131, 125, 125) !important;
}
.bg-dark {
  background-color: beige !important;
}
.dropdown-menu {
  background-color: #ccffff;
}
.dropdown-item.active {
  background-color: white !important;
  color: rgb(131, 125, 125);
  font-weight: bold;
}
.navbar-toggler {
  background-color: rgba(131, 125, 125, 0.253);
  border-color: grey !important;
}
@media (min-width: 1199px) {
  #navbarNavAltMarkup {
    margin: 50px;
  }
  .bg-dark {
    background-color: beige !important;
  }
}
